<ng-container *ngIf="!loading">

<mat-form-field>
  <mat-placeholder>{{'SEARCH' | translate}} {{'HERO' | translate}}</mat-placeholder>
    <input matInput type="search" #searchInput>
    <button mat-button matSuffix mat-stroked-button aria-label="search" (click)="filterHero(searchInput.value)">
      {{'SEARCH' | translate}}
  </button>
</mat-form-field>

<div class="mat-elevation-z8">
  <button mat-button (click)="newEditHeroe('')">{{'NEW' | translate}} {{'HERO' | translate}}</button>

    <table mat-table [dataSource]="dataSource">
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> {{'NAME' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="publisher">
        <th mat-header-cell *matHeaderCellDef> {{'PUBLISHER' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="alterEgo">
        <th mat-header-cell *matHeaderCellDef> {{'ALTER_EGO' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.alterEgo}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="firstAppearance">
        <th mat-header-cell *matHeaderCellDef> {{'FIRST_APPEARANCE' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.firstAppearance}} </td>
      </ng-container>
      
      <ng-container matColumnDef="characters">
        <th mat-header-cell *matHeaderCellDef> {{'CHARACTERS' | translate}} </th>
        <td mat-cell *matCellDef="let element"> {{element.characters}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > {{'ACTIONS' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let row" >
             <button mat-button (click)="newEditHeroe(row.id)">{{'EDIT' | translate}}</button>
             <button mat-button (click)="deleteHero(row.id)">{{'DELETE' | translate}}</button>
        </mat-cell>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator #paginator 
    [length]="heroesData.length"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>
</div>
</ng-container>
